$primary:    #0E92CC;
$default:    #969696;
$success:    #25B75F;
$warning:    #E67E22;
$danger:     #E74C3C;
$darkBlue:   #2C3D4C;
$midBlue:    #445563;
$lightGrey:  #F2F2F2;
$black:      #000000;
$white:      #ffffff;
$borderColor:#DDDDDD;

$radius: 4px;

$font-family: "Lato", "Helvetica", "Arial", sans-serif;

.p-0{
    padding: 0 !important;
}

.pl-0{
    padding-left: 0 !important;
}

.pr-0{
    padding-right: 0 !important;
}

.m-0{
    margin: 0 !important;
}

.ml-0{
    margin-left: 0 !important;
}

.mr-0{
    margin-right: 0 !important;
}

.mb-0{
    margin-bottom: 0 !important;
}

.mt-0{
    margin-top: 0 !important;
}

